:root {
    --background-theme-1 : #e5cdb0;
    --background-theme-2 : #f3d6c2;
    --background-theme-3 : #fbf1ea;
    --background-theme-4 : #f08080;
}

@font-face {
    font-family: "Lato-light";
    src: url('../fonts/Lato-Light.ttf');
}
@font-face {
    font-family: "Lato-bold";
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: "gotham-light";
    src: url('../fonts/GothamLight.ttf');
}
 
* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    /* font-family: "lato-light"; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: none;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}
.cursor, .follower {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
}
.cursor {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background: white;
    z-index: 99;
}
.follower {
    width: 30px;
    height: 30px;
    background: black;
    border: 2px solid white;
    opacity: .8;
    z-index: 98;
}

/* nav ======================================== */
nav {
    height: 200px;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
}

.nav-title, .nav-links {
    width: 100%;
    display: flex;
    /* height: 30%; */
}
.nav-title {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    z-index: 6;
    transition: .3s;
    transform-origin: top;
    height: 0;
    opacity: 0;
    color: black;
    display: none;
} 
.nav-title.sticky {
    background-color: white;
    height: 40%;
    opacity: 1;
}
.nav-logo img {
    height: 55px;
}
.title-bars {
    position: absolute;
    left: 10%;
    opacity: 0;
    z-index: 2;
    display: none;
}
.title-bars img {
    width: 10vw;
}
.title-main h1{
    font-size: 20px;
    font-family: "gotham-light";
}
.title-search ul{
    display: flex;
    position: absolute;
    flex-direction: row;
    right: 20px;
    justify-content: flex-start;
    width: 20%;
    opacity: 1;
    top: 30px;
}
.title-search ul li{
    list-style: none;
    padding-right: 10px;
    opacity: .5;
    transition: .3s;
}
.title-search ul li:hover {
    opacity: 1;
}
.icon {
    height: 20px;
    width: 20px;
}
.nav-links {
    background: transparent;
    transition: .3s;
    position: relative;
    z-index: 5;
    height: 40%;
    color: black;
}
.nav-links ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li {
    list-style: none;    
    position: relative;
}
.nav-links ul li a img {
    width: 28px;
}
.nav-links a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: black;
    opacity: 0;
    transform: translateX(-100%);
    transition: .3s;
}
.nav-links a:hover:after{
    transform: translateX(0%);
    opacity: 1;
}
.nav-links a {
    text-decoration: none;
    color: inherit;
}



/* main======================================== */
main {
    height: auto;
    width: 100%;
    margin-top: 150px;
    background: white;
    position: relative;
    z-index: 3;
}
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    background-image: url('../img/main/Img/a.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-top: -150px;

}
.main-title {
    font-size: 2vw;
    padding: 100px;
    font-family: "Lato-bold";
    text-align: center;
    color: var(--background-theme-4);
    background-color: white;
    width: 100%;
    margin-bottom: 3rem;
}
.main-image {
    height: 100%;
    width: 100%;
    background: url('../img/main/company-employees-sharing-thoughts-ideas/5469.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
.main-content {
    text-align: center;
    padding: 100px;
    padding-left: 0;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: "gotham-light";
}
.main-content img {
    width: 40vw;
}
.main-content h1 {
    font-size: 60px;
    padding-bottom: 30px;
}
.main-content h2 {
    font-size: 40px;

    width: 100%;
}
.main-subcontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.subcontent {
    width: 90%;
    height: 550px;
    margin-bottom: 15rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
}
.subcontent-1 {
    margin-bottom: 10rem;   
    /* background-color: grey; */
    background-color: var(--background-theme-2);
}
.subcontent-5 .exp{
    color: var(--background-theme-3);
}
.subcontent h1 {
    font-size: 3vw;
}
.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.image-5 {
    background: url('../img/main/Img/muhammad-faiz-zulkeflee-KrR7xEn4HV8-unsplash.jpg');
}
.image-0 {
    background: url('../img/main/Img/Vision.png');
}
.image-1 {
    background: url('../img/main/Img/max-anderson-V1AwjLYMAwg-unsplash.jpg');
}
.image-2 {
    background: url('../img/main/Img/mason-jones-bIIP4igsg1I-unsplash.jpg')
}
.image-3 {
    background: url('../img/main/Img/journey-2.png');
}
.sub-images {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 70%;
    height: 100%;
    opacity: 1;
}
.exp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120%;
    height: 100%;
    font-size: 1.5vw;
    padding: 50px;
    font-family: "Lato-light";
    /* color: var(--background-theme-1); */
    color: black;
    background: transparent;
}
.exp h1 {
    padding-top: .5em;
    padding-bottom: 1em;
    position: relative;
    color: var(--background-theme-4);
    font-family:'Playfair Display', serif;;
}
.exp h1::after {
    content: '';
    width: 5em;
    height: 2px;
    background-color: var(--background-theme-4);
    position: absolute;
    left: 0;
    bottom: 25%;
}
.exp li {
    list-style: none;
}

/* footer====================================== */
header {
    height: 270px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 3;
}
.header-main {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.header-main h1 {
    font-family: 'Playfair Display', serif;
}
.header-logo {
    width: 100%;
    text-align: center;
    /* margin: 200px; */
}
.header-logo img {
    width: 50px;
    height: 50px;
    margin-right: 1.7rem;

}
/* header===================================== */

footer {
    height:60vh;
    width: 100%;
    background: black;
    position: fixed;
    z-index: 0;
    bottom: 0;
}
footer .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 70vh;
    font-size: 1.5vw;
    justify-content: flex-end;
}
.footer-logo {
    width: 50px;
    height: 100px;
    background: url('../img/footer/Logo\ Gold.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
.footer-left , .footer-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    padding: 100px;
    padding-bottom: 100px;
}
.footer-left {
    align-items: flex-start;
}
.footer-left p , .footer-right p{
    padding-top: 10px;
    font-size: 1.4vw;
}
.footer-right {
    align-items: flex-end;
    text-align: end;
}
.social-1 img, .social-2 img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.copyright img {
    height: 1vw;
    width: 1vw;
}
.social-2 {
    padding-bottom: 10px;
}
.footer-right .copyright, .footer-left .copyright {
    font-size: 1vw;
    opacity: .5;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.empty {
    height: 40vh;
    background:white;
    position: relative;
    z-index: -100;
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title-content {
    overflow: hidden;
    display: inline-block;
}

.intro-title, .intro-list {
    margin: 10px;
    font-size: 20px;
}
.intro-list ul span{
    display: inline-block;
    height: 30px;
    margin-top: 0%;
    overflow: hidden;
}

.intro-list li {
    list-style: none;
    padding: 10px;
    font-size: 30px;
    transform: translateY(100%);
}



@media screen and (max-width : 670px){
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: .3s;
        background: rgba(0, 0, 0, 0);
    }
    .overlay.overlay-full {
        background: rgba(0, 0, 0, 0.5);
    }
    .nav-title {
        justify-content: center;
        display: flex;
    }
    .nav-title h1 {
        font-size: 20px;
    }
    .title-bars {
        width: 30px;
        height: 30px;
        opacity: 1;
        transform: scale(.7);
        display: block;
        background: url('../img/navbar/menu.png');
        background-size: contain;
    }
    .title-bars.close {
        background: url('../img/navbar/pngjoy.com_close-icon-close-button-png-icon-transparent-png_1062318.png');
        background-size: contain;
    }
    .nav-links {
        background: transparent;
    }
    .nav-links ul {
        position: fixed;
        background-color: white;
        color: black;
        height: 100vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transform: translateX(-100%);
        transition: .4s;
        overflow: visible;
    }
    .nav-links ul.toggle {
        transform: translateX(0);
    }
    .nav-links li {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    main {
        margin-top: -50px;
        margin-bottom: 0px;
    }
    .main-content h1 {
        font-size: 50px;
        padding-bottom: 30px;
    }
    .main-content h2 {
        font-size: 25px;
        width: 200%;
    }
    .main-content img {
        width: 60vw;
    }
    .main-title {
        margin-bottom: 10rem;
    }
    .main-title h1 {
        font-size: 7vw;
    }
    .subcontent {
        margin: 1rem;
    }
    .subcontent-5 {
        margin-bottom: 20rem;
    }
    .inner .exp h1 {
        font-size: 2rem;
    }
    .inner-1 { 
        flex-direction: column;
        margin: -5rem;
        margin-top: 5rem;
        /* background-color: grey; */
        overflow: visible;
        /* height: 100vh; */
    }
    .inner-2 .exp {
        transform: translateX(20px);
    }
    
    .image-5 {
        margin-top: -300px;
        transform: translateY(100px);
    }
    .image-1 {
        transform: translateX(-30px);
    }
    .inner-1 .exp ul {
        font-size: 1rem;
    }
    .inner-1 .exp {
        transform: translateY(70px);
    }
    .inner-2 {
        width: 125%;
    }
    .inner-2 .exp {
        padding: 60px;
    }
    .inner-2 .exp ul {
        font-size: 1rem;
    }

    .inner-3 .exp {
        padding: 20px;
    }
    .inner-3 .exp ul {
        font-size: 1rem;
    }

    .subcontent-1 {
        margin-bottom: 10rem;
        height: 720px;
    }
    .header-main {
        font-size: 1rem;
    }
    .header-logo img {
        height: 25px;
        width: 25px;
    }
    footer {
        height: 90vh;
    }
    footer .content {
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        transform: translateY(50px);
    }
    .footer-right, .footer-left{
        padding: 30px;
        align-items: flex-start;
        text-align: left;
        height: 30%;
        padding-bottom: 0;
        width: 70%;
    }
    .footer-left p , .footer-right p{
        font-size: .85rem;
    }
    .footer-left {
        justify-content: flex-end;
    }
    .footer-right {
        justify-content: flex-start;
        padding-top: 0;
    }
    .footer-logo {
        height: 100px;
        width: 50px;
    }
    .copyright {
        display: none;
    }
    .empty {
        height: 90hv;
    }
}
@media screen and (max-width : 900px) and (min-width : 671px) {
    .main-page {
        height: 80vh;
    }
    /* .sub-images {
        margin-top: -250px;
    } */
}

@media screen and (max-width : 380px){
    .inner-2 .exp {
        padding: 50px;
    }
    /* .main-page {
        margin-top: 100px;
        height: 70vh;
    }
    .main-title {
        font-size: 20px;
    }
    .subcontent h1 {
        font-size: 30px;
    }
    .intro-title, .intro-list {
        font-size: 13px;
    }
    .intro-list li {
        font-size: 22px;
    }
    .inner {
        position: relative;
    } */
}