@font-face {
    font-family: "Lato-light";
    src: url('../main/fonts/Lato-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lato-light", Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(119, 119, 119);
}
nav {
    background: url('../img/Emboss\ Logo.png');
    width: 100%;
    height: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -30px;
}
.outer {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    padding-bottom: -20px;
    border-radius: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    width: 125%;
    padding: 10px 5px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
}
::placeholder {
    color: black;
}
#email-err, #pass-err {
    background: rgba(255, 0, 0, .2) ;
    border: 1px solid rgba(255, 0, 0, .7);
    text-align: center;
    color: rgba(255, 0, 0, .7);
    width: 125%;
    padding: 3px;
    font-size: smaller;
    display: none;
}
#email-err {
    margin-bottom: 15px;
}
.check {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    margin: 30px;
    justify-content: flex-start;
}
.check input {
    width: 30%;
}
.check span {
    display: inline-block;
    font-size: 18px;
    width: 80%;
}

.btn-box {
    width: 100%;
    text-align: center;
}
.btn-box button {
    outline: none;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background: rgb(77, 77, 77);
    color: white;
    transition: .3s;
    font-size: 20px;
}
.btn-box button:hover {
    background: black;
    cursor: pointer;
}
footer {
    text-align: center;
}
footer a {
    text-decoration: none;
}

@media screen and (max-width : 670px){
    #email-err, #pass-err {
        width: 80%;
    }
    .check {
        width: 80%;
    }
    .outer {
        width: 70%;
    }
    main input {
        width: 80%;
    }
}

@media screen and (max-width : 900px) and (min-width : 670px) {
    .outer {
        width: 60%;
    }
    main input {
        width: 100%;
    }
}